.mainNav{
    background-color: black;
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 600px;
    border-radius: 4px;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: monospace;
    font-size: 25px;
}